body {
    height: 100vh;
}

.container-fluid {
    height: 100%;
    background: #ffffff;
    color: #090909;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container {
    width: 90%;
    display: flex;
    
    justify-content: space-between;
}

.btn {
    margin-top: 20px;
    width: 15%;
}

.lab-container {
    width: 90%;
}

.inputs-container {
    display: flex;
}

.inputs-column {
    width: 50%;
}

.input-holder {
    padding: 5px 0;
}

.results-container {
    margin-top: 15px;
}

.result-holder {
    display: flex;
}

input {
    background: inherit;
    outline: none;
    border: none;
    text-align: center;
}

.special-res-holder {
    display: flex;
}

.select-holder {
    background: #ffffff;
    color: #090909;
    border: 1px solid #ffc107;
    padding: 2px 2px;
}

.output-area {
    padding: 0 0;
    background: #ffffff;
    color: #090909;
    width: 100%;
    height: 100%;
}

.output-area > p {
    padding: 0 0;
    margin: 0 0;
    /* font-size: 20px; */
}
